.main {
    background-color: #071018;
}

.block-container {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

h1, h2, h3 {
    color: #f5c542;
}

div[data-testid="metric-container"] {
    background-color: #101820;
    border: 1px solid #1f2b37;
    padding: 15px;
    border-radius: 12px;
}

.stDataFrame {
    border-radius: 12px;
    overflow: hidden;
}
